!!! 5

%html
  %head
    %title Remark
    <script src="javascripts/remark-latest.min.js" type="text/javascript"></script>
    <script src="javascripts/d3.v4.js" type="text/javascript"></script>
    <link href="stylesheets/default.css" rel="stylesheet" type="text/css">
    %meta(name="viewport" content="initial-scale=0.5")

  %body
    %textarea#source= yield
    :javascript
      var slideshow = remark.create();
