!!! 5

%html
  %head
    %title Remark
    = javascript_include_tag "remark-latest.min.js"
    = javascript_include_tag "d3.v4.js"
    = stylesheet_link_tag stylesheet
    %meta(name="viewport" content="initial-scale=0.5")

  %body
    %textarea#source= yield
    :javascript
      var slideshow = remark.create();
